<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nicolas.smartcityandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Controller.AnnouncementsNoConnectedActivity"
            android:label="@string/nameApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controller.ConnectionActivity"
            android:label="@string/connectionLabel"
            android:parentActivityName=".Controller.AnnouncementsNoConnectedActivity" />
        <activity
            android:name=".Controller.AnnouncementsConnectedActivity"
            android:label="@string/nameApp" />
        <activity
            android:name=".Controller.InscriptionActivity"
            android:label="@string/inscriptionLabel"
            android:parentActivityName=".Controller.AnnouncementsNoConnectedActivity" />
        <activity
            android:name=".Controller.AnnouncementNoConnectedActivity"
            android:label="@string/nameApp"
            android:parentActivityName=".Controller.AnnouncementsNoConnectedActivity" />
        <activity
            android:name=".Controller.AnnouncementConnectedActivity"
            android:label="@string/nameApp"
            android:parentActivityName=".Controller.AnnouncementsConnectedActivity" />
        <activity
            android:name=".Controller.AddAnnouncementActivity"
            android:label="@string/nameApp"
            android:parentActivityName=".Controller.AnnouncementsConnectedActivity" />
        <activity
            android:name=".Controller.AddAnimalActivity"
            android:label="@string/nameApp"
            android:parentActivityName=".Controller.AnnouncementsConnectedActivity"
            ></activity>
    </application>

</manifest>