<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.monpc.smartcity4">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBvO2j1t6KHW_89X13z21b1bOF4wS_wuZk"/>


        <activity android:name=".View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.InscriptionActivity"
            android:label="@string/inscription_act"
            android:parentActivityName=".View.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MainActivity"/>
        </activity>
        <activity
            android:name=".View.ConnectionActivity"
            android:label="@string/connexion_act"
            android:parentActivityName=".View.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MainActivity"/>
        </activity>
        <activity
            android:name=".View.MainIdActivity"
            android:label="@string/main_ID_Act"
            android:parentActivityName=".View.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MainActivity"/>
        </activity>
        <activity
            android:name=".View.RechercheActivity"
            android:label="@string/recherche_activity"
            android:parentActivityName=".View.MainIdActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MainIdActivity"/>
        </activity>
        <activity android:name=".View.CalendarActivity"
            android:label="@string/calendrier_act"
            android:parentActivityName=".View.MainIdActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MainIdActivity"/>
        </activity>
        <activity android:name=".View.HistoriqueActivity"
            android:label="@string/historique_act"
            android:parentActivityName=".View.MainIdActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MainIdActivity"/>
        </activity>
        <activity android:name=".View.RemarqueActivity"
            android:label="@string/remarque_act"
            android:parentActivityName=".View.MainIdActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MainIdActivity"/>
        </activity>
        <activity android:name=".View.NouvelleAnnonceActivity"
            android:label="@string/nouvelle_annonce_act"
            android:parentActivityName=".View.MainIdActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MainIdActivity"/>
        </activity>
        <activity android:name=".View.Localisation"
            android:label="@string/nouvelle_annonce_act"
            android:parentActivityName=".View.MainIdActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MainIdActivity"/>
        </activity>

    </application>

</manifest>